<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>permission to use location</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>permission to use location</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>permission to use location</string>
	<key>CFBundleDisplayName</key>
	<string>Artificial Insight App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Artificial Insight App</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for verifying your identity.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library for verifying your identity.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for verifying your identity.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location for providing better services.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location for providing better services.</string>
    <key>GIDClientID</key>
    <string>105949764936-8jq6b15qudhkl3nqqcrkvf2ns0d1lk6o.apps.googleusercontent.com</string>

    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.artificialinsight.app</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.105949764936-8jq6b15qudhkl3nqqcrkvf2ns0d1lk6o</string>
                </array>
            </dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.105949764936-vqcca4ol33eutq37odpp5lt6d5vucpr9</string>
				<string>fb1145933779857270</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
    <string>1145933779857270</string>
    <key>FacebookDisplayName</key>
    <string>A-Insight Pothole APP</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
